
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Source+Code+Pro:wght@500&display=swap');

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}
@media print {
    html, body {
        height: 99%;
        margin: 0; 
        padding:0;
        box-sizing: border-box;
    }
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Code Pro', monospace;
}
p, a{
    font-family: 'Nunito', sans-serif;
}

.slideDown{
    opacity: 0;
    transform: translateY(-200%);
    animation: slideDown 0.5s ease forwards;
}
.delay-0{
    animation-delay: 0.3s;
}
.delay-1{
    animation-delay: 0.6s;
}
@keyframes slideDown{
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}